# Sample configuration file for retrogame.
# Really minimal syntax, typically two elements per line w/space delimiter:
# 1) a key name (from keyTable.h; shortened from /usr/include/linux/input.h).
# 2) a GPIO pin number; when grounded, will simulate corresponding keypress.
# Uses Broadcom pin numbers for GPIO.
# If first element is GND, the corresponding pin (or pins, multiple can be
# given) is a LOW-level output; an extra ground pin for connecting buttons.
# A '#' character indicates a comment to end-of-line.
# File can be edited "live," no need to restart retrogame!

# Here's a 6-button configuration:

LEFT      23  # Joypad left
RIGHT     24  # Joypad right
UP        22  # Joypad up
DOWN      25  # Joypad down
BACKSPACE 16  # 'A' button
ENTER      6  # 'B' button
R          5  # 'C' button
ESC       26  # 'X' button
SPACE     19  # 'Y' button
E         10  # 'Z' button
Q         21  # 'L1' button
W         20  # 'R1' button
D         11  # 'L2' button
F          8  # 'R2' button
# GND      6  # Spare ground point for 'Y' button
A          9  # 'Select' button
S         12  # 'Start' button
# ESC  16 26  # Hold Start+Select to exit ROM

# For configurations with few buttons (e.g. Cupcade), a key can be followed
# by multiple pin numbers.  When those pins are all held for a few seconds,
# this will generate the corresponding keypress (e.g. ESC to exit ROM).
# Only ONE such combo is supported within the file though; later entries
# will override earlier.
